/*
::-moz-selection {
	background:rgba(0,0,0,0);
	}
::selection { 
	background:rgba(0,0,0,0);
	} 	
*/
	
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #999;
}
* {
	margin: 0;
	padding: 0;
}
img {
	border: none;
	outline: none;
	width: auto;

}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
input, textarea, select {
	outline: none;
}

p {
	color: #a1a1a1;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.wrapper {
	width: 1170px;
	margin: 0px auto;
	position: relative;
}
.wrapper:after {
	clear: both;
	display: block;
	content: '';
}

/***************************
	Header css start
*****************************/
::-webkit-input-placeholder { /*Chrome/Opera/Safari */
 opacity:1
}
::-moz-placeholder { /* Firefox 19+ */
 opacity:1
}
:-ms-input-placeholder { /* IE 10+ */
 opacity:1
}
:-moz-placeholder { /* Firefox 18- */
 opacity:1
}
/* =========================== start: top header =========================== */
.top_header {
    background: #ff2626;
    overflow: hidden;
    padding: 12px 0;
}

.top_header_left {
    float: left;
    width: auto;
}

.top_header_right {
    float: right;
    width: auto;
}

.top_header_left p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.top_header_left p span {
    font-weight: 400;

}

.top_header_right ul li {
    display: inline-block;
    margin-right: 20px;
}

.top_header_right ul li:last-child {
    margin-right: 0;
}

.top_header_right ul li a {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
}

.top_header a i {
    display: inline-block;
    padding: 0 7px 0 0;
    color: #fff;
    font-size: 14px;
}

/* =========================== end: top header =========================== */

/* ========================= Start navbar ========================= */

.topBar {
    padding: 5px 0 18px 0;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0 #909090;
    position: absolute;
    display: block;
    z-index: 999;
    right: 0;
    left: 0;
}

.topBar.solid {
    position: fixed;
    padding: 0px;
    width: 100%;
    background: #eaebed;
    z-index: 1000;
    margin: 0 auto;
    top: 0;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
    box-shadow: 1px 2px 6px 0 #909090;
    background-color: #fff;
}

.topBar.solid .logo img {
    width: 80%;
}

.scrollTop {
    position: fixed;
    right: 1%;
    bottom: 10px;
    background: url(../images/up_arrow.png);
    background-repeat: no-repeat;
    padding: 20px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.leftTop {
    float: left;
}

.leftTop > span {
    color: #fff;
    float: left;
    padding: 0 38px 0 0;
}

.leftTop a {
    color: #fff;
}

.leftTop a i {
    display: inline-block;
    padding: 0 7px 0 0;
}

.leftTop p {
    color: #fff;
    display: inline;
}

.social a {
    color: #fff;
}

.social {
    float: right;
    padding: 0;
}

.fa.fa-linkedin:hover {
    /*color: #0981b9;*/
}


.logo {
    float: left;
    padding: 0;
    position: absolute;
    top: 9px;
    z-index: 88;
}

.menuBar {
    margin: 0;
    padding: 18px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 89;
    box-sizing: border-box;
}

.menuBar .wrapper {
    padding: 0;
}

.topTag {
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 88;
}

/* ========================= End navbar ========================= */
/* ========================= start gallery slider ========================= */
.camera_wrap .camera_pag .camera_pag_ul{
    display: none !important;
}
/* ========================= End gallery slider ========================= */

/* ========================= start about ========================= */

.about {
    padding: 80px 0 40px;
    overflow: hidden;
    clear: both;
}
.about_right {
    overflow: hidden;
    width: auto;

}

.about .about_right h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #262626;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    line-height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.about .about_right h2 span {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff2626;
}

.about .about_right h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #262626;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 0;
    position: relative;
    margin-bottom: 20px;
}

.about .about_right p {
    margin-bottom: 25px;

}.about .about_right p a{
    color: #ff2626;
    text-decoration: none;
}
.about .about_right .btn{
    background: rgba(0, 0, 0, 0) url(../images/system_control_arrw1.png) no-repeat scroll 83% center;
    border: 1px solid #ff5454;
    color: #ff5454;
    cursor: pointer;
    display: table;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    padding: 0px 45px 0 25px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
}
.about .about_right .btn:hover {
    background: rgba(0, 0, 0, 0) url(../images/system_control_arrw1.png) no-repeat scroll 83% center;
}
.about .about_right ul li {
    display: inline-block;
    width: 26%;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background: url(../images/right.png) no-repeat 0 5px;
    padding-left: 26px;
}

.about .about_right ul li:last-child {
    margin-right: 0;
}

.about .about_right .about_part {
    margin-top: 30px;
    overflow: hidden;
}

.about .about_right ul li .icon_round {
    width: 36px;
    height: 36px;
    border: 1px solid #ff2626;
    border-radius: 50%;
    float: left;
    margin-right: 16px;
}

.about .about_right ul li .icon_round img {
    width: auto;
    height: auto;
    padding: 8px;

}

.about .about_right ul li h3 {
    font-family: 'Poppins', sans-serif;
    float: left;
    padding: 10px 0;
    color: #636363;
    font-size: 14px;
    font-weight: 500;
}



.about .about_left {
    overflow: hidden;
    padding-top: 28px;
    position: relative;
    padding-bottom: 63px;
    float: left;
    width: 36%;
    margin-right: 20px;
}

.about .about_left::after {
    content: "";
    background-image: url(../images/shadow.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    height: 78px;
    width: 369px;
    left: 0px;
    position: absolute;
    top: 74%;
}

.about .about_left img {
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 8px solid #efefef;

}

/* ========================= end about ========================= */

/* ========================= start banner ========================= */

.banner {
    padding: 0 0 0px;
    position: relative;
}

.banner.innerPgBn {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.banner.innerPgBn img {
  width: 2100px;
    left: 50%;
    margin: 0 0 0 -1050px;
    position: relative;
    height: auto;
    vertical-align: bottom;
}

/* ========================= End banner ========================= */

/* ============================ start Service ============================ */
.services {
    padding: 30px 0px 80px;
    overflow: hidden;
}

.services h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #262626;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.services h2 span {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff2626;
}

.services ul {
    display: flex;
    flex-wrap: wrap;
}

.services ul li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px 15px 20px;
}

.services ul li img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.services ul li .service_box {
    background: #f9f9f9a1;
    height: 100%;
    box-shadow: 0px 0px 6px #ddd
}

.services ul li .service_text {
    padding: 20px;
}

.services ul li .service_text h4 {
    font-family: 'Poppins', sans-serif;
    color: #ff2626;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
}

.service_img{
    position: relative;
}
.service_img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 97%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: .3s;
}
.service_img .overlay p {
    font-size: 14px;
    background: url(../images/right.png) no-repeat 0 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #fff;
}
.service_img .overlay p:last-child{
    margin-bottom: 0;
}
.services ul li:hover .service_img .overlay{
    opacity: 1;
}
/* ============================ end Service ============================ */


/* ================================ start: DELIVERY ASSURANCE ================================ */
.da {
    padding: 80px 0;
    background: #fafafa;
}

.da h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #262626;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.da h2 span {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff2626;
}

.da p {
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    width: 750px;
    margin: 0 auto;
}

.da ul {
    margin-top: 50px;
}

.da ul li {
    width: 47%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 26px;
}

.da ul li:nth-child(2n) {
    margin-right: 0;
}

.da ul li .icon h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #161616;
    text-align: left;
    background: url(../images/big_right.png) no-repeat 0 0px;
    height: 30px;
    /* width: 50px; */
    background-size: 6%;
    padding-left: 42px;
    padding-top: 3px;
}

.da ul li p {
    font-size: 14px;
    text-align: left;
    line-height: 28px;
    padding-top: 10px;
    width: auto;
}

/* ================================ end: DELIVERY ASSURANCE ================================ */


/******************** Our Projectss start ******************************/

.our_project {
	padding: 80px 0 30px;
	overflow: hidden;
}

.our_project h3 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #262626;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	position: relative;
	margin-bottom: 60px;
}
.our_project h3 span {
	font-family: 'Source Sans Pro', sans-serif;
	color: #ff2626;
}

.our_project ul li {
	width: 48%;
	height: 275px;
	border-radius: 30px;
	overflow: hidden;
	display: inline-block;
	background-color: #fafafa;
	margin: 0 40px 40px 0;

}
.our_project ul li:nth-child(2n) {
	margin-right:0;

}

.our_project li .left_pic {
	float: left;

}
.our_project li .left_pic img{
	width:auto;
	height:auto;
	display:block;
}

.our_project li .right_text {
	margin: 30px;
	overflow: hidden;
	width: 58%;
	float: right;
	background-image:url(../images/background_pic.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.our_project li .right_text h4{
	font-family: 'Poppins', sans-serif;
	color: #ff2626;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	padding-bottom:20px;
	border-bottom:1px solid #acabab;
}

.our_project li .right_text p{
	font-family: 'Poppins', sans-serif;
	color: #a6a6a6;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	padding-bottom:20px;
	margin-top:30px;
	line-height:26px;
}

.our_project li .right_text h5{
	font-family: 'Poppins', sans-serif;
	color: #7a7a7a;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}
.our_project li .right_text a{
	font-family: 'Poppins', sans-serif;
	color: #ff2626;
	font-size: 14px;
	font-weight: 500;
	float: right;
	margin-bottom:20px;
}

.our_project li .right_text a i{
	margin-left:5px;
	font-size:12px;
}



/******************** Our Projects end ******************************/


/* ================================ start: Contact ================================ */
.contact {
    overflow: hidden;
    padding: 0px 0 80px;
}

.contact h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #262626;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.contact h2 span {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff2626;
}

.contact iframe {
    height: 350px;
    margin-bottom: 50px;
}

.contact .left_div {
    float: left;
    width: 50%;
    margin-right: 50px;
}

.contact ul li {
    margin-bottom: 20px;
}

.contact ul li:last-child {
    margin-bottom: 0;
}

.contact ul li input[type=text],
.contact ul li input[type=email],
.contact ul li input[type=number] {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #161616;
}

.contact ul li textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
	resize: none;
	color: #161616;
}

.contact ul li input[type=submit] {
    background: rgba(0, 0, 0, 0) url(../images/system_control_arrw1.png) no-repeat scroll 79% center;
    border: 1px solid #ff5454;
    color: #ff5454;
    cursor: pointer;
    display: table;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    padding: 0px 45px 0 25px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
}

.contact ul li input[type=submit]:hover {
    background: rgba(0, 0, 0, 0) url(../images/system_control_arrw1.png) no-repeat scroll 83% center;
}

.contact .right_div {
    overflow: hidden;
}

.contact .right_div h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #161616;
    margin-bottom: 20px;
}

.contact .right_div p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 20px;
}
.contact .right_div a{
    color: #a6a6a6;
    display: block;
    font-size: 14px;
    padding: 0 0 10px;
}
.contact .right_div a .icon{
    float: left;
    margin-right: 10px;
}

/* ================================ end: Contact ================================ */



/********************* our clients start **************************/

.client {
	padding: 0px 0 80px;
	overflow: hidden;
}

.client h3 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #262626;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	position: relative;
	margin-bottom: 30px;
}
.client h3 span {
	font-family: 'Source Sans Pro', sans-serif;
	color: #ff2626;
}


.client ul li {
	display: inline-block;
	width: 15.45%;
	height: auto;
	margin: 20px 10px 20px 0;
	border: 1px solid #dadada;
}

.client ul li:nth-child(6n) {
	margin-right:0;
}


.client ul li .client_logo {
	margin: 0 auto;
	padding:20px;
	height: auto;
}

.client ul li .client_logo img {
	width: auto;
	height: auto;
	margin: 0 auto;
	display: block;
}


.client .system_src {
	background: #fcfcfc;
	padding: 20px;
	overflow: auto;
	height: 290px;

}

.client .system_src ul li {
	display: inline-block;
	width: 16.6%;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 11px;
}
.client .system_src ul li img {
	width: auto;
	padding: 0;
	height: auto;
	margin:0 auto;
	display:block;
}

.client .loader {
	text-align: center;
	margin: 15px auto;
}
.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-spinner div::after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 29px;
	width: 5px;
	height: 14px;
	border-radius: 20%;
	background: #fff;
}

.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.lds-spinner div {
	transform-origin: 32px 32px;
	animation: lds-spinner 1.2s linear infinite;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: #ccc !important;
	filter: "alpha(opacity=85)";
	-ms-filter: "alpha(opacity=85)";
}

/******************** our clients end ******************************/


/*************** subcribe start *****************/

.subcribe{
	overflow:hidden;	
	background-color:#ff2626;
}

.subcribe .update{
	padding:30px 0;
	float:left;
	overflow:hidden;

}

.subcribe .update h3{
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	text-align: left;
	line-height: 25px;
	margin-bottom:15px;
}

.subcribe .update p{
	color:#fff;
}

.subcribe .subcribe_form{
	padding:35px 0;
	float:right;
	overflow:hidden;
	width:50%;

}

/*.subcribe .subcribe_form input[type="text"] {
	background: #fff none repeat scroll 0 0;
	border: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 25px;
	padding: 11.5px 20px;
	width: 100%;
	z-index: 0;
	border-radius: 25px;
}*/

.subcribe .subcribe_form input[type="text"] {
	background: #ff2626;
	padding: 5px 20px;
	color: #fff;
	font-size: 15px;
	border-radius: 30px;
	font-weight: 400;
	box-sizing: border-box;
	width: 100%;
	border: 2px solid #fff;
	font-family: 'Poppins', sans-serif;
	line-height: 38px;
	float: left;
	/* margin-right: 10%; */
}
.subcribe .subcribe_form input[type="submit"] {
	border: none;
	right: 0px;
	top: 36px;
	width: 15%;
	cursor: pointer;
	padding: 11px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #ff2626;
	font-weight: 500;
	background-color: #fff;
	position: absolute;
	border-radius: 0 25px 25px 0;
}

/******************
	Footer section
********************/
.footer_sec .footer_top {
	background: #232323;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 65px 0 30px 0;
}
.footer_sec {
	position: relative;
}
.footer_sec .footer_top .wrapper ul li {
	display: inline-block;
	width: 15%;
	vertical-align: top;
	margin-right: 50px;
}
.footer_sec .footer_top .wrapper ul li h4 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 30px;
}

.footer_sec .footer_top .wrapper ul li:first-child {
	text-align: center;
	width: 40%;
	margin-right: 90px;
	vertical-align: top;
}

.footer_sec .footer_top .wrapper ul li:first-child .footer_logo {
	margin: -7% auto 0 0;
	width:auto;
}

.footer_sec .footer_top .wrapper ul li .footer_logo img{
	width:auto;
	height:auto;	
		
}

.footer_sec .footer_top .wrapper ul li p {
	color: #fff;
	text-align: left;
	font-weight: 400;
	font-size: 14px;
}
.footer_sec .footer_top .wrapper ul li.contact_us {
	margin-right: 0;
	width: 32%;
}

.footer_sec .footer_top .wrapper ul li.contact_us .map {
	width: auto;
	height: 182px;
	overflow: hidden;
	margin-bottom: 25px;
}

.footer_sec .footer_top .wrapper ul li.contact_us .map img {
	display:block
	
}


.footer_sec .footer_top .wrapper ul li .buy {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin-top: 24px;
	display: block;
}
.footer_sec .footer_top .wrapper ul li ul li {
	display: block;
	color: #fff;
	width: auto;
	margin-bottom: 15px;
}
.footer_sec .footer_top .wrapper ul li ul li:first-child {
	text-align: left;
	width: auto;
	margin-bottom: 20px;
	margin-right: 0;
	font-weight: 400;
	font-size: 14px;
}
.footer_sec .footer_top .wrapper ul li ul li .icon {
	float: left;
	overflow: hidden;
}
.footer_sec .footer_top .wrapper ul li ul li .local_des {
	overflow: hidden;
}
.footer_sec .footer_top .wrapper ul li ul li img {
	float: left;
	margin-right: 15px;
	width: auto;
	vertical-align: middle;
	margin-top: 5px;
}
.footer_sec .footer_top .wrapper ul li ul li a {
	color: #fff;
	font-weight: 400;
	font-size: 14px;
}
.footer_sec .footer_top .wrapper ul li .social_sec {
	margin-top: 20px;
}
.footer_sec .footer_top .wrapper ul li .social_sec li {
	display: inline-block;
	margin: 0;
}
.footer_sec .footer_top .wrapper ul li .social_sec li a img {
	margin-right: 6px;
}
.footer_sec .footer_top .wrapper ul li .social_sec h4 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 16px;
}
.footer_sec .footer_bottom {
	background: #232323;
	padding: 20px;

}
.footer_sec .footer_bottom .wrapper p {
	color: #353535;
	float: none;
	text-align: center;
}
.footer_sec .footer_top .wrapper ul li ul li a:hover {
	color: #ff2626;
}
.social_sec li {
	width: 37px !important;
	height: 37px !important;
	border-radius: 50%;
	border: 1px solid #ffffff;
	margin-right: 10px !important;
}
.social_sec li i {
	text-align: center;
	display: block;
	padding: 12px;
	font-size: 15px;
}
.social_sec li:hover {
	background: #fff;
}
.social_sec li i:hover {
	color: #f47c00;
}

